<!DOCTYPE html>
<html>
    <h1>Search Harvard Libraries' "Worlds of Change" Collection</h1>
    <body>
        <form action = "/", method="post">
            <p>Enter Search Term:</p>
            <p><input name = "term" value = {{term}}></p>
            <p>return first <input type="number" name = "numResults" value={{numResults}}> results</p>
            <p><input type = "submit" value = "submit" /></p>
        </form>
        <ul>
            {% for result in results %}
                <li><a href={{result[1]}}>{{result[0]}}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>